.footer__link {
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  font-family: "nunitoregular", sans-serif;
}

.footer__link:hover {
  opacity: 0.5;
}
