.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
