@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.logo {
  width: 154px;
  height: 31px;
}

.logo_place_header {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s linear;
}

.header__link:hover {
  opacity: 0.5;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
  z-index: 1;
}

.header__square {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
  transform: rotate(-15deg);
}

.rotation {
  animation: rotation 20s linear infinite;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 30px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  margin: 100px auto;
}

.cards {
  width: 920px;
  display: flex;
  list-style: none;
  margin: 0 auto;
  flex-wrap: wrap;
}

.cards__item {
  width: 240px;
  margin-top: 60px;
  margin-right: 100px;
}

.cards :nth-of-type(3n) {
  margin-right: 0;
}

.cards__image {
  height: 160px;
  width: 160px;
  margin: 0 40px;
  border-radius: 50%;
}

.cards__title {
  margin-top: 43px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.video {
  margin: 100px auto 0;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
}

.video__iframes {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
  z-index: -1;
}

.digits {
  margin: 100px auto;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  margin: 20px auto 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  list-style: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  position: relative;
  padding-top: 100px;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
  transition: opacity 0.3s linear;
}

.feynman__link:hover {
  opacity: 0.5;
}

.feynman__title {
  max-width: 775px;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  position: relative;
}

.khan {
  margin-top: 100px;
  padding-top: 105px;
  background-color: #f2f2f2;

}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 36px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 10px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}

.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s linear;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding: 90px 0;
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  position: relative;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  color: white;
}

.table_theme_dark {
  position: relative;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  height: 636px;
  width: 660px;
  right: -124px;
  top: 0;
  z-index: -1;
}

.resources {
  margin: 100px auto 0;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
  background-position: center;
  background-size: contain;
}

.resources__logo-tedED {
  background-image: url(../images/images_sprint-2/logo/resources-tedED.png);
}

.resources__logo-Medium {
  background-image: url(../images/images_sprint-2/logo/resources-Medium.png);
}

.resources__logo-goodreads {
  background-image: url(../images/images_sprint-2/logo/resources-goodreads.png);
}

.resources__logo-dezeen {
  background-image: url(../images/images_sprint-2/logo/resources-dezeen.png);
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding: 60px 0 40px;
  display: flex;
  align-items: stretch;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: auto;
  min-height: 250px;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
  margin: 0;
}

.footer__list {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
}

.footer__link {
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 0.2s linear;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
